version: 2
jobs:
  main@python2:
    docker:
      - image: circleci/python:2

    steps:
      - checkout

      - run:
          name: Install python dependencies
          # set -o pipefail; pip .. | cat is used to disable the progress bar.
          command: |
            mkdir -p venv
            virtualenv venv
            . venv/bin/activate
            set -o pipefail; pip install --upgrade -r requirements_dev_py2.txt | cat

      - run:
          name: Show versions
          command: |
            . venv/bin/activate
            pip freeze

      - run:
          name: Run tests
          when: always
          command: |
            . venv/bin/activate
            ./dev.py coverage

  main@python3:
    docker:
      - image: circleci/python:3

    steps:
      - checkout

      - run:
          name: Install python dependencies
          command: |
            mkdir -p venv
            virtualenv venv
            . venv/bin/activate
            set -o pipefail; pip install --upgrade -r requirements_dev.txt | cat

      - run:
          name: Show versions
          command: |
            . venv/bin/activate
            pip freeze

      - run:
          name: Run tests
          when: always
          command: |
            . venv/bin/activate
            ./dev.py coverage

      - run:
          name: Check lint
          when: always
          command: |
            . venv/bin/activate
            ./dev.py lint

  format:
    docker:
      - image: circleci/python:3

    steps:
      - checkout

      - run:
          name: Install python dependencies
          command: |
            mkdir -p venv
            virtualenv venv
            . venv/bin/activate
            set -o pipefail; pip install --upgrade -r requirements_dev.txt | cat

      - run:
          name: Show versions
          command: |
            . venv/bin/activate
            pip freeze

      - run:
          name: Check code format
          when: always
          command: |
            . venv/bin/activate
            ./dev.py black-check

workflows:
  version: 2

  on-commit:
    jobs:
      - main@python2
      - main@python3
      - format

  daily:
    triggers:
      - schedule:
          cron: "0 17 * * *"
          filters:
            branches:
              only: master
    jobs:
      - main@python2
      - main@python3
      - format
